<%- include("../layouts/header"); -%>

<div class="col-lg-12 col-md-12">
  <p>Navigate to the <a href="/todos">todos section</a> to check the latest todos.
  </p>
</div>

<%- include("../layouts/footer"); -%>