<%- include("../layouts/header"); -%>

<div class="col-lg-12 col-md-12">
  <p><span class="font-bold">Application developed by:</span> Veronica Londoño - Daniel Correa - Alejandro Cortiñas</p>
  <p>EAFIT University<br />
  Medellín, Colombia<br />
  2021
  </p>
  <p>Universidade da Coruña<br />
    La Coruña, España<br />
    2021
  </p>
</div>

<%- include("../layouts/footer"); -%>